html,
body {
  margin: 0;
}

body {
  display: flex;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}

iframe {
  border: 0;
}

body > * {
  flex: 1;
}

@media only screen and (orientation: portrait) {
  body {
    flex-direction: column;
  }

  .weather-app {
    flex: unset;
  }
}
